.szadows {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(174, 174, 204), 0 0 5px darkblue;
    text-align: center;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
    /* margin-left: 10%; */
    margin-left: 25px;
    padding: 5px;

}
td,th {
    /* border: 1px solid lightgrey; */
    /* text-align: center; */
    padding: 11px;
    background-color: transparent;
    color: rgb(199, 202, 216);
    border: 1px solid grey;

}

  td.tleft{
    /* border-right: 1px solid #eee; */
    text-align: left;
    color: black;
    font-size: 11px;
  }

  td.tright{
    /* border-right: 1px solid #b8b8b8; */
    text-align: right;
    color: black;
    font-size: 11px;
  }