<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="home">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">HOME</span>
            </a>
            <a mat-list-item routerLink="searchreport" role="button" routerLinkActive="active">

                <span class="label">SEARCH REPORT</span>
            </a>
            <a mat-list-item routerLink="searchreport" role="button" routerLinkActive="active">

                <span class="label">CHECK REPORT</span>
            </a>

            <a mat-button target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/matiej/">
                <mat-icon class="icon"><img src="/assets/linkedin-box.png" alt="whiteList" /></mat-icon>
            </a>

            <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/Matiej">
                <mat-icon class="icon"><img src="/assets/github-circle.png" alt="whiteList" /></mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="fixed-header" color="accent">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <span class="menu-spacer">
                
            </span>

            <div fxShow="true" fxHide.xs>
                <ul fxLayout layout-align="start-center" class="navigation-items">
                    <li routerLinkActive="active">
                        <a routerLink="/" role="button" routerLinkActive="active" mat-button>
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">HOME</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="searchreport" role="button" routerLinkActive="active" mat-button>
                            <!-- <mat-icon class="icon">home</mat-icon> -->
                            <span class="label">SEARCH REPORT</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="searchreport" role="button" routerLinkActive="active" mat-button>
                            <!-- <mat-icon class="icon">home</mat-icon> -->
                            <span class="label">CHECK REPORT</span>
                        </a>
                    </li>
                    <span class="menu-spacer" ></span> 
                     <li>
                        <a mat-button target="_blank" rel="noopener noreferrer"
                            href="https://www.linkedin.com/in/matiej/">
                            <mat-icon class="icon"><img src="/assets/linkedin.png" alt="linkedid" /></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/Matiej">
                            <mat-icon class="icon"><img src="/assets/github-box.png" alt="github" /></mat-icon>
                        </a>
                    </li> 
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <!-- <main style="position: relative; top: 65px; "> -->
            <!-- <router-outlet></router-outlet> -->
        <!-- </main> -->
    </mat-sidenav-content>
</mat-sidenav-container>