h1.szadows {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
}
td,th {
    border: 1px solid lightgrey;
    /* text-align: center; */
    padding: 11px;
    background-color: gray;
    color: azure;
}

  td.tleft{
    border-right: 1px solid #eee;
  }

  td.tright{
    border-right: 1px solid #b8b8b8;
    text-align: right;
  }