<div class="container">
    <form [formGroup]="userFormular" (ngSubmit)="submitUserForm()">
        <div class="form-row">

            <div id="inputUserName" class="form-group col-ms-5 mb-3 ml-1 pb-3 input-group-lg">
                <div class="form-check-inline">
                    <label for="inputUserName" class="form-check-label">Imię</label>
                </div>
                <input type="text" class="form-control" id="inputUserName" name="nputUserName"
                    formControlName="inputUserName" autocomplete="off" [placeholder]="inputUserNamePlaceHolder">
            </div>
            <div id="inputUserLogin" class="form-group col-ms-5 mb-3 ml-1 pb-3 input-group-lg">
                <div class="form-check-inline">
                    <label for="inputUserLogin" class="form-check-label">Login</label>
                </div>
                <input type="text" class="form-control" id="inputUserLogin" name="inputUserLogin"
                    formControlName="inputUserLogin" autocomplete="off" [placeholder]="inputUserNamePlaceHolder">
            </div>
            <div id="inputEmail" class="form-group col-ms-5 mb-3 ml-1 pb-3 input-group-lg">
                <div class="form-check-inline">
                    <label for="inputEmail" class="form-check-label">Email</label>
                </div>
                <input type="text" class="form-control" id="inputEmail" name="inputEmail"
                    formControlName="inputEmail" autocomplete="off" [placeholder]="inputUserNamePlaceHolder">
            </div>
        </div>

        <div class="form-row">
        <div class="form-group col-md-6 mb-3 pb-3 input-group-lg">
            <div class="form-check-inline">
                <label for="inputaccountNonExpired" class="form-check-label" >
                    <input  type="checkbox" class="form-check-input" name="inputaccountNonExpired" id="inputaccountNonExpired"
                        formControlName="inputaccountNonExpired">Account Expired
                </label>
            </div>
            <div class="form-check-inline">

                <label class="form-check-label">
                    <input  type="checkbox" class="form-check-input" name="inputaccountNonLocked" id="inputaccountNonLocked"
                        formControlName="inputaccountNonLocked">Account Locked
                </label>
            </div>
            <div class="form-check-inline">
                <label for="credentialsNonExpired"  class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="credentialsNonExpired" id="credentialsNonExpired"
                        formControlName="credentialsNonExpired">Credentials Expired
                </label>
            </div>
            <div class="form-check-inline">
                <label for="enabled" class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="enabled" id="enabled"
                        formControlName="enabled">Enabled
                </label>
            </div>
        </div>
        </div>

        <div class="form-row">
        <div id="inputUserName" class="form-group col-ms-5 mb-3 ml-1 pb-3 input-group-lg">
            <div class="form-check-inline">
                <label for="inputPassword" class="form-check-label">Hasło</label>
            </div>
            <input type="text" class="form-control" id="inputUserName" name="inputPassword"
                formControlName="inputPassword" autocomplete="off" [placeholder]="inputUserNamePlaceHolder">
        </div>
        <div id="inputMatchingPassword" class="form-group col-ms-5 mb-3 ml-1 pb-3 input-group-lg">
            <div class="form-check-inline">
                <label for="inputMatchingPassword" class="form-check-label">Powtórz Hasło</label>
            </div>
            <input type="text" class="form-control" id="inputMatchingPassword" name="inputMatchingPassword"
                formControlName="inputMatchingPassword" autocomplete="off" [placeholder]="inputUserNamePlaceHolder">
        </div>
    </div>
        <div style="text-align: center;">
            <button type="submit" class="my-wide-btn" mat-raised-button 
                [disabled]="userFormular.invalid">ZAPISZ</button>
        </div>
    </form>
</div>