<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item routerLink="home">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">START</span>
            </a>

            <a role="button" mat-button>
                <span class="label" [matMenuTriggerFor]="whiteList">BIAŁA LISTA VAT
                    <mat-icon class="icon">arrow_drop_down</mat-icon></span>
            </a>
            <mat-menu #whiteList="matMenu">
                <a routerLink="/searchreport" role="button" routerLinkActive="active" mat-list-item>
                    <a mat-button>
                        <mat-icon class="icon">format_list_bulleted</mat-icon>
                        <span class="label">RAPORT SZCZEGÓŁOWY</span>
                    </a>
                </a>
                <a routerLink="/checkreport" role="button" routerLinkActive="active" mat-list-item>
                    <a mat-button>
                        <mat-icon class="icon">list</mat-icon>
                        <span class="label">WERYFIKACJA</span>
                    </a>
                </a>
            </mat-menu>

            <a role="button" mat-button>
                <span class="label" [matMenuTriggerFor]="arch">ARCHIWUM
                    <mat-icon class="icon">arrow_drop_down</mat-icon></span>
            </a>
            <mat-menu #arch="matMenu">
                <a routerLink="/archsearchreports" role="button" routerLinkActive="active" mat-list-item><a
                        mat-button>
                        <mat-icon class="icon">format_list_bulleted</mat-icon>
                        <span class="label">RAPORTY SZCZEGÓŁOWE</span>
                    </a>
                </a>
                <a routerLink="/archcheckreports" role="button" routerLinkActive="active" mat-list-item><a
                        mat-button>
                        <mat-icon class="icon">format_list_bulleted</mat-icon>
                        <span class="label">RAPORTY WERYFIKACJI</span>
                    </a>
                </a>
                <a routerLink="/requests" role="button" routerLinkActive="active" mat-list-item><a
                        mat-button>
                        <mat-icon class="icon">list</mat-icon>
                        <span class="label">ZAPYTANIA</span>
                    </a>
                </a>
            </mat-menu>

            <a mat-button routerLink="/login" role="button" routerLinkActive="active">
                <span class="label">ZALOGU SIĘ <mat-icon class="icon">exit_to_app</mat-icon></span>
            </a>
            <br>
            <a mat-button target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/matiej/">
                <mat-icon class="icon"><img src="/assets/linkedin-box.png" alt="whiteList" /></mat-icon>
            </a>
            <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/Matiej">
                <mat-icon class="icon"><img src="/assets/github-circle.png" alt="whiteList" /></mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="fixed-header" color="accent">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <span class="menu-spacer">
                <a routerLink="home" role="button">
                    <img src="/assets/logo.png" size="10%" alt="logo">
                </a>
            </span>

            <div fxShow="true" fxHide.xs>
                <ul fxLayout layout-align="start-center" class="navigation-items">
                    <li>
                        <a routerLink="/home" role="button" mat-button>
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">START</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a role="button" mat-button>
                            <span class="label" [matMenuTriggerFor]="whiteList">BIAŁA LISTA VAT
                                <mat-icon class="icon">arrow_drop_down</mat-icon></span>
                        </a>
                        <mat-menu #whiteList="matMenu">
                            <a routerLink="/searchreport" role="button" routerLinkActive="active" mat-list-item>
                                <a mat-button>
                                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                                    <span class="label">RAPORT SZCZEGÓŁOWY</span>
                                </a>
                            </a>
                            <a routerLink="/checkreport" role="button" routerLinkActive="active" mat-list-item>
                                <a mat-button>
                                    <mat-icon class="icon">list</mat-icon>
                                    <span class="label">WERYFIKACJA</span>
                                </a>
                            </a>
                        </mat-menu>
                    </li>

                    <li routerLinkActive="active">
                        <a role="button" mat-button>
                            <span class="label" [matMenuTriggerFor]="arch">ARCHIWUM
                                <mat-icon class="icon">arrow_drop_down</mat-icon></span>
                        </a>
                        <mat-menu #arch="matMenu">
                            <a routerLink="/archsearchreports" role="button" routerLinkActive="active" mat-list-item><a
                                    mat-button>
                                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                                    <span class="label">RAPORTY SZCZEGÓŁOWE</span>
                                </a>
                            </a>
                            <a routerLink="/archcheckreports" role="button" routerLinkActive="active" mat-list-item><a
                                    mat-button>
                                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                                    <span class="label">RAPORTY WERYFIKACJI</span>
                                </a>
                            </a>
                            <a routerLink="/requests" role="button" routerLinkActive="active" mat-list-item><a
                                    mat-button>
                                    <mat-icon class="icon">list</mat-icon>
                                    <span class="label">ZAPYTANIA</span>
                                </a>
                            </a>
                        </mat-menu>
                    </li>
                    <li>
                        <a routerLink="/login" role="button" routerLinkActive="active" mat-button>

                            <span class="label">ZALOGUJ SIĘ</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a role="button" mat-button>
                            <span class="label" [matMenuTriggerFor]="user">UŻYTKOWNICY
                                <mat-icon class="icon">arrow_drop_down</mat-icon></span>
                        </a>
                        <mat-menu #user="matMenu">
                            <a routerLink="/userformular" role="button" routerLinkActive="active" mat-list-item><a
                                    mat-button>
                                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                                    <span class="label">NOWY</span>
                                </a>
                            </a>
                            <a routerLink="/userlist" role="button" routerLinkActive="active" mat-list-item><a
                                    mat-button>
                                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                                    <span class="label">LISTA</span>
                                </a>
                            </a>
                        </mat-menu>
                    </li>
                    <span class="menu-spacer-in"></span>
                    <li routerLink="active">
                        <a mat-button target="_blank" rel="noopener noreferrer"
                            href="https://www.linkedin.com/in/matiej/">
                            <mat-icon class="icon"><img src="/assets/linkedin.png" alt="linkedid" /></mat-icon>
                        </a>
                        <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/Matiej">
                            <mat-icon class="icon"><img src="/assets/github-box.png" alt="github" /></mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <!-- <router-outlet></router-outlet> -->
        <main style="position: relative; top: 35px; ">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>