
.filter-header {
    min-height: 64px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 16px;
    width: 100%;
    
    
  }
/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple {
    background-color: black;
    color: black;
}

.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-ripple {
      color: rgb(0, 142, 207);
      background-color: rgb(0, 142, 207);
    }

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label
 {
    color: gray;
}

.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-label {
      color: rgb(0, 142, 207);
    }

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: b;
  color: black;
}
  
  .table-container {
    margin-right: 25px;
    margin-left: auto; 
    /* margin-right: ; */
    display: block;
    flex-direction: column;
    min-width: 700px;
    text-align: center;
    border: 1px solid grey;
    
  }
  
  .mat-header-cell {
    font-size: 14px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
    text-decoration: underline;
    color:black;
    border: 1px solid grey;
  }
  
  .mat-cell {
    border: 1px solid gray;
    color: black;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 11px;
    }
  
  .mat-table {
    overflow: auto;
    color: black;
    max-height: 650px;
    background-color: transparent;
    text-align: center;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  /* child components */
  /* .element-row:not(.expanded):hover {
    background: #249607;
  } */
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }