#checkBoxDate{
    margin-inline-start: 13%;
    /* align-items: flex-end; */
    color: blue;
}

.my-wide-btn {
    width: 500px;
    height: 40px;
    /* padding-top: 13px; */
    font-size: large;
    text-shadow: 2px 2px #3d3c3c;
    background-color: black;
    background: rgb(48, 71, 62);
    color: white;
}
 .s{
     color: rgb(4, 19, 46);
 }

 .my-wide-btn:disabled {
 background: rgb(150, 160, 150);
 color: rgb(126, 89, 89);
}