<div style="margin: 2%;">
<p>DODAĆ ŁAPANIE BŁĘDÓW - INTERCEPTOR</p>
<p>ZMIENIC MODEL DANYCH TAK ABY CHECK PRZYCHODZIŁ JAKO JEDEN OBIEKT BEZ LISTY. W JAVA BACKEND DO TEGO DOSTOSOWAĆ 2020-02-06 - raczej dotyczylo archiwalnych rzeczy. </p>
<b>2020-02-05 pisać bardziej szczegółowe swoje myśli bo kurwa nie wiem o co chodziło w linijce wyżej :/</b>
<br>
<i>Dowiedzieć sie jak najlepiej wpisywac numery LP przy tabeli itp. Czy id z bazy czy inaczej</i>
<br>
<b>Spróbowac w archiwum raporty weryfikacji zrobić id w liście w detalach.  To ID miało by być po iteracji listy.</b>
<i>W archiwum raporty szczegółowe detaliczne wyświetlić jak w raportach weryfikacji. Spróbować też id z interacyjni w html. DO tego jaki url zrobic/requestId_plus to ID</i>
</div>
